@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #000;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.movie-lists-container .movieList:nth-child(1) {
  z-index: 15;
  position: relative;
}
